body {
  text-align: center;
  font-size: 1.5em;
  color: black;
}

#text {
  border-radius: 5px;
  width: 25%;
  height: 1.25em;
  font-size: inherit;
}
button {
  cursor: pointer;
  border-radius: 5px;
  padding: 12px;
}

div {
  display: block;
  border: 2px solid black
}

a {
  display: block;
  color: inherit;
  border: 2px solid black;
  text-decoration: none;
  text-align: left;
}

a:hover {
  font-weight: bold;
}